<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Shadow Data</title>
    <link href="/ui/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/ui/js/bootstrap.min.js" ></script>
    <style>
        body {
            padding: 20px;
        }

        table {
            width: 100%;
            margin-bottom: 20px;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }
    </style>
</head>
<body>
<div class="container">
    <a href="/ui/">返回首页</a>
    <h1 class="mb-4">{{.Device.Name}}</h1>
    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            设备控制
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form action="/ui/device/{{.Device.ID}}/points/set" method="post">
                {{range $index,$point:=.Points}}
                    {{if .Writeable}}
                        <div class="form-group">
                            <label for="{{.Name}}">{{.Description}}({{.Name}})</label>
                            {{if .Enums}}
                                {{range .Enums}}
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="{{$point.Name}}" id="{{.Value}}"
                                               value="{{.Value}}" {{if eq $point.Value .Value}}checked{{end}}>
                                        <label class="form-check-label" for="{{.Value}}">{{.Name}}</label>
                                    </div>
                                {{end}}
                            {{else}}
                                <input type="text" name="{{.Name}}" class="form-control"
                                       style="width: 100px; display: inline-block;">
                            {{end}}
                        </div>
                    {{end}}
                {{end}}
                <button type="submit" class="btn btn-primary">下发指令</button>
            </form>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>点位名</th>
            <th>描述</th>
            <th>读写</th>
            <th>点位值</th>
            <th>更新时间</th>
            <th>控制</th>
        </tr>
        </thead>
        <tbody>
        {{range $index,$point:=.Points}}
            <tr>
                <td> {{.Name}}</td>
                <td>{{.ReadWrite}}</td>
                <td> {{.Description}}</td>
                <td>
                    {{.Value}} {{.Units}}
                    {{if .Enums}}
                        {{range .Enums}}
                            {{if eq $point.Value .Value}}
                                ,{{.Name}}
                            {{end}}
                        {{end}}
                    {{end}}
                </td>
                <td>{{.Update}}</td>
                <td>
                    {{if .Writeable}}
                        <form action="/ui/device/{{$.Device.ID}}/point/{{.Name}}/set" method="post">

                            {{if .Enums}}
                                {{range .Enums}}
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="value" id="{{.Value}}"
                                               value="{{.Value}}" {{if eq $point.Value .Value}}checked{{end}}>
                                        <label class="form-check-label" for="{{.Value}}">{{.Name}}</label>
                                    </div>
                                {{end}}
                            {{else}}
                                <input type="text" name="value" class="form-control"
                                       style="width: 100px; display: inline-block;">
                            {{end}}

                            <button type="submit" class="btn btn-primary">下发指令</button>
                        </form>
                    {{else}}
                        -
                    {{end}}
                </td>
                <td></td>
            </tr>
        {{end}}
        </tbody>
    </table>
</div>
</body>
</html>
