<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Shadow Data</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }
        table {
            width: 100%;
            margin-bottom: 20px;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mb-4">Device Shadow Data</h1><a href="/ui/">返回首页</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>点位名</th>
                    <th>描述</th>
                    <th>点位值</th>
                    <th>更新时间</th>
                </tr>
            </thead>
            <tbody>
                {{range .Points}}
                <tr>
                    <td> {{.Name}}</td>
                    <td>{{.Description}}</td>
                    <td>{{.Value}}</td>
                    <td>{{.Update}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</body>
</html>
